html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-family: quicksand;
}


/* ==================================
NAVIGATION
=============================================================*/
header{
    width: 100%;
    height: 100vh;
    background: url(../images/KL.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.header-about{
    width: 100%;
    height: 100vh;
    background: url(../images/54.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.header-product{
    width: 100%;
    height: 100vh;
    background: url(../images/img-100.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.header-contact{
    width: 100%;
    height: 100vh;
    background: url(../images/contact.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-position: left;
}
.container{
    width: 90%;
    margin: 4em auto;
    text-align: justify;
}
.logo{
    position: fixed;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.logo-title{
    color:cyan;
    font-style: italic  ;
}
nav{
    position: fixed;
    width: 100%;
    background: #000;
}
nav ul{
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: cyan;
    font-size: 20px;
    transition: .5s;
}
nav ul li a:hover{
    color: orange;
}
.menu-icon{
    width: 100%;
    background:#000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    display: none;
    color: white;

}

/* ==================================
WHO WE ARE
=====================================================*/
.who-we-are-header{
    text-align: center;
}
.who-we-are-content{
    display: flex;
}
.who-we-are-img>img{
    width: 100%;
}
.who-we-are-text>p{
    text-align: center;
    padding: 60px 20px 20px 20px;
}

/* =================================
NEW ARRIVALS
==========================================================*/
.new-arrivals{
    text-align: center;
    padding-top: 10px;
}
.new-arivals-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.btn-custom{
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: none;
    background-color: transparent;
    border: 1px solid #000;
    transition: .5s;
}
.btn-custom:hover{
    background: black;
    color: cyan;
}

/* ==================================
OUR PARTNERS
===================================================*/
.partners{
    text-align: center;
    padding-top: 20px;
}
.partners-content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


/* ===========================================
FOOTER
==============================================================*/
footer{
    background: #000;
    height: 200px;
}
.social-icon{
    text-align: center;
    color: cyan;
}
.icons{
    margin-right: 10px;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.fa-whatsapp{
    margin-right: 10px;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.fa-google{
    margin-right: 20px;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.copy{
    text-align: center;
    color: white;
}
.logo-footer{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 3px;
}

/* =================================
ABOUT US
========================================================= */
.about-content{
    display: flex;
    text-align: center;
}
.about-who-we-are{
    padding-right: 10px;
    border-right: 1px solid black;
}
.about-us-text{
    padding-left: 10px;
}
/* our team */
.our-team-header{
    text-align: center;
    padding-top: 20px;
}
.our-team-images{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* =====================================
PRODUCT 
====================================================*/
.product-header{
    text-align: center;
}
.product-images-1{
    display: flex;
    padding-top: 20px;
}
.product-services-img-1{
    text-align: center;
    transition: .5s;
    padding-bottom: 10px;
}
.product-services-img-1:hover{
    box-shadow: 2px 2px 2px #000;
}
.amount{
    font-size: 24px;
    font-style: italic;
}

/* ==============================================
Contact
================================================================*/
.contact-content{
    display: flex;
}
.contact-form{
    padding-left: 20%;
}
.get-in{
    text-align: center;
    font-size: 24px;
}
.label{
    padding: 20px;
}
.form-group{
    margin-top: 20px;
}
.input-form{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    box-sizing: none;
    outline: transparent;
    box-shadow: none;
}

.input-form-1{
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    box-sizing: none;
    outline: transparent;
    box-shadow: none;
}
.input-form-2{
    margin-top: 20px;
    margin-left: 28px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    box-sizing: none;
    outline: transparent;
    box-shadow: none;
}
.contact-button{
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    border-radius: 10px;
    box-sizing: none;
    outline: none;
    box-shadow: none;
    background-color: #000;
    color: cyan;
}

/* ==============================================
MEDIA QUERY
=============================================================*/
@media(max-width: 580px) {
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul{
        /* max-height: 0; */
        background: #000;
    }

    .showing{
        max-height: 20px;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24 0;
        text-align: center;
    } 

    .menu-icon{
        display: block;
    }

    .new-arivals-content{
        display: block;
    }

    .partners-content{
        display: block;
    }

    .our-team-images{
        display: block;
        justify-content: space-between;
        text-align: center;
    }

    .product-images-1{
        display: block;
    }

    .contact-content{
        display: block;
    }
    

}