html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-family: quicksand;
}


/* ==================================
NAVIGATION
=============================================================*/
header{
    width: 100%;
    height: 100vh;
    background: url(../images/KL.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.content{
    width: 90%;
    margin: 4em auto;
    text-align: justify;
}
.logo{
    position: fixed;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.logo-title{
    color:cyan;
    font-style: italic  ;
}
nav{
    position: fixed;
    width: 100%;
    background: #000;
}
nav ul{
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: cyan;
    font-size: 20px;
    transition: .5s;
}
nav ul li a:hover{
    color: orange;
}
.menu-icon{
    width: 100%;
    background:#000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    display: none;
    color: white;

}













/* ==================================
MEDIA QUERY
===============================================*/
@media(max-width: 580px) {
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul{
        /* max-height: 0; */
        background: #000;
    }

    .showing{
        max-height: 20px;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24 0;
        text-align: center;
    } 

    .menu-icon{
        display: block;
    }
}